.menuDiv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.liMenu {
  float: left;
}

.liMenu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.liMenu a:hover {
  background-color: #111;
}
.globDiv{
 margin-top: 3%;
margin-left: 25%;
margin-right: 25%;
background-color: aliceblue
}
.imgPhone{
  width: 2%;
  height: 3%;
}
.nomerLi{
  display: inline;
  padding-left: 2%;
}
body{
  background-color: green;
}
img{
  display: inline-block;
  width: 10%;
  height: 10%;
}
.nomerDiv{
  width: 50%;
  display: inline-block;
}
p{
    margin: 0;
    padding: 0;
}
.left_menu > ul > li {
  position: relative;
}
